<div>
    <p>Thank you for ordering <%= givenName %>!</p>
    <p>Your order of <%= order %> <%= size === 'undefined' ? "" : size %> will be sent to your home in <%= province %>, Canada. Thank you for participating!</p>
</div>